body {
  font-size: 30px;
  font-family: sans-serif;

  width: 100vw;
  text-align: center;
}

button {
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  border: 1px solid black;
  margin-bottom: 12px;
  padding: 12px;

}
